body {
    font-family: Verdana, sans-serif;
}

header {
    display: flex;
}
header > div {
    margin: 20px;
}
header > div:first-child{
    flex-grow: 1;
}

input, select, textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
