<div>
    {{#if actions.createAvailable}}<button data-hash="create">Neue Notiz erstellen</button>{{/if}}
    {{#if actions.saveAvailable}}<button data-hash="save">Speichern</button>{{/if}}
    {{#if actions.cancelAvailable}}<button data-hash="">Abbrechen</button>{{/if}}
</div>
<div>
    <select>
    {{#each style}}
        <option value="{{value}}" {{#if selected}}selected="selected"{{/if}}>{{label}}</option>
    {{/each}}
    </select>
</div>