<div>
    {{#if createAvailable}}<button>Neue Notiz erstellen</button>{{/if}}
    {{#if saveAvailable}}<button>Speichern</button>{{/if}}
    {{#if cancelAvailable}}<button>Abbrechen</button>{{/if}}
</div>
<div>
    <select>
        <option value="panda">Panda-Style</option>
        <option value="lion">Löwen-Style</option>
    </select>
</div>