<div>
    {{#if createAvailable}}<button data-hash="create">Neue Notiz erstellen</button>{{/if}}
    {{#if saveAvailable}}<button data-hash="save">Speichern</button>{{/if}}
    {{#if cancelAvailable}}<button data-hash="">Abbrechen</button>{{/if}}
</div>
<div>
    <select>
        <option value="panda">Panda-Style</option>
        <option value="lion">Löwen-Style</option>
    </select>
</div>